<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Estoque</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    
    <h1 style="font-family: fancy; font-size: 45px;">Sistema de Estoque</h1>
      
    <div class="topo">

        <form method="GET">
            <input
                style="padding: 10px; border-radius: 5px;"
                type="text"
                name="busca"
                placeholder="Buscar produto">

            <button type="submit" class="btn buscar">🔍</button>
        </form>

        <a href="/adicionar" class="btn adicionar">Adicionar</a>


    </div>

    <div class="lista-produtos">

        <div class="cabecalho-produtos" >
            <div>Nome</div>
            <div>Preço</div>
            <div>Quantidade</div>
            <div>Opções</div>
        </div>

        {% for produto in produtos %}

        <div class="linha-produto">

            <div class="nome-produto">
                {{ produto[1] }}
            </div>

            <div class="preco-produto">
                R$ {{ "%.2f"|format(produto[2]) }}
            </div>

            <div class="quan-produto">
                {{ produto[3] }}
            </div>

            <div class="opcoes-produto">

                <a href="/editar/{{ produto[0] }}" class="btn editar">
                    Editar
                </a>

                <a
                    href="/deletar/{{ produto[0] }}"
                    class="btn excluir"
                    onclick="return confirm('Tem certeza que deseja excluir este produto?')">

                    Excluir

                </a>

            </div>

        </div>

        {% endfor %}

    </div>

</body>

</html>